extends layout



block content
  h1= title
  p(style="text-align: center") These are all current bookings

  div(class="pure-g")

    div(class="pure-u-1-1 pure-u-md-1-1")
      div(class="l-box")
        h1 Customer 1 
      
        table(id="bookings" class="display" style="width:100%")
          thead
            tr
              th Product
              th Quantity
              th Price
              th
          tbody
            tr
              td 
              td 
              td 

          tfooter
            tr
              th 
              td
              th 

               


        h1 Customer 2 
      
        table(id="bookings1" class="display" style="width:100%")
          thead
            tr
              th Product
              th Quantity
              th Price
          tbody
            tr
              td Cola
              td 2
              td 10 €

          tfooter
            tr
              th Total
              td
              th 9,98 €

            
  script(src="javascripts/booking.js")
