extends layout

block content

    div(class="pure-g" style="margin-top:65px")
        div(class="pure-u-1-1 pure-u-md-1-1" )
            div(class="l-box") 
                h1 Shopping Cart
                table(width="100%")
                    tr 
                        th Product
                        th Price
                        th Quantity
                    tr  
                        td Cola
                        td 4,99 €
                        td(class="cart-input")
                            div(class="input-group")
                                span(class="input-group-btn")
                                    button(type="button" class="btn btn-default btn-number" disable="disabled" data-type="minus" data-field="quant[0]")
                                        span(class="glyphicon glyphicon-minus")  -
                                
                                input(type="text" name="quant[1]" class="form-control input-sm" value="0" min="0" max="10" style="width: 5px")
                                
                                span(class="input-group-btn")
                                    button(type="button" class="btn btn-default btn-number" disable="disabled" data-type="plus" data-field="quant[1]")
                                        span(class="glyphicon glyphicon-plus") +

                    tr  
                        td Beer
                        td 4,99 €
                        td(class="cart-input")
                            div(class="input-group")
                                span(class="input-group-btn")
                                    button(type="button" class="btn btn-default btn-number" disable="disabled" data-type="minus" data-field="quant[1]")
                                        span(class="glyphicon glyphicon-minus")  -
                                
                                input(type="text" name="quant[1]" class="form-control input-sm" value="0" min="0" max="10" style="width: 5px")
                                
                                span(class="input-group-btn")
                                    button(type="button" class="btn btn-default btn-number" disable="disabled" data-type="plus" data-field="quant[1]")
                                        span(class="glyphicon glyphicon-plus") +

                    tr  
                        td Pizza
                        td 4,99 €
                        td(class="cart-input")
                            div(class="input-group")
                                span(class="input-group-btn")
                                    button(type="button" class="btn btn-default btn-number" disable="disabled" data-type="minus" data-field="quant[1]")
                                        span(class="glyphicon glyphicon-minus")  -
                                
                                input(type="text" name="quant[1]" class="form-control input-sm" value="0" min="0" max="10" style="width: 5px")
                                
                                span(class="input-group-btn")
                                    button(type="button" class="btn btn-default btn-number" disable="disabled" data-type="plus" data-field="quant[1]")
                                        span(class="glyphicon glyphicon-plus") +

                    td(style="font-weight:bold") Total
                    td(style="font-weight:bold") 15 €

                
                    
        

                        
                
                


    script(src="javascripts/cart.js")
    script(src="javascripts/customer.js")


    