extends layout

block content

    div(class="pure-u-1-1 pure-u-md-1-1" style="text-align:center; margin-top:65px")
        h1 Thank you!
        h1 Your order can be picked up at the booth 
        
