extends layout

block content
  

  div(class="pure-g")
    div(class="pure-u-1-2 pure-u-md-1-2" style="text-align: center; margin-top:65px")
      a(class="fa fa-shopping-cart fa-4x" href="/cart" id="cart")
    div(class="pure-u-1-2 pure-u-md-1-2" style="text-align: center; margin-top:65px")
      h1(id="price") 0.00 €
      h1(id="count") 0 x
    div(class="pure-u-1-1 pure-u-md-1-1" style="text-align: center")
      h1 Drinks
    div(class="pure-u-1-2 pure-u-md-1-2")
      figure
        img(class="pure-img" src="/images/coffee.png" id="coffeePick")
        figcaption Coffee
    div(class="pure-u-1-2 pure-u-md-1-2")
      figure
        img(class="pure-img" src="/images/beer.png" id="beerPick")
        figcaption Beer
    div(class="pure-u-1-2 pure-u-md-1-2")
      figure
        img(class="pure-img" src="/images/cola.png" id="colaPick")
        figcaption Cola
    div(class="pure-u-1-2 pure-u-md-1-2")
      figure
        img(class="pure-img" src="/images/cocktail.png" title="cocktail" id="cocktailPick")
        figcaption Cocktail


    div(class="pure-u-1-1" style="text-align: center")
      h1 Food
    div(class="pure-u-1-2 pure-u-md-1-2")
      figure
        img(class="pure-img" src="/images/cake.png" id="cakePick")
        figcaption Cake
    div(class="pure-u-1-2 pure-u-md-1-2")
      figure
        img(class="pure-img" src="/images/hamburger.png" id="muffinPick")
        figcaption Muffin
    div(class="pure-u-1-2 pure-u-md-1-2")
      figure
        img(class="pure-img" src="/images/icecream.png" id="icecreamPick")
        figcaption Ice Cream
    div(class="pure-u-1-2 pure-u-md-1-2")
      figure
        img(class="pure-img" src="/images/pizza.png" title="cocktail" id="pizzaPick")
        figcaption Pizza

    div(class="pure-u-1-1 pure-u-md-1-1" style="text-align:center; margin-top:30px")
      button(id="purchase" class="btn btn-dark" style="margin-right: 20px; color: white" href="/purchase") Purchase
      button(class="btn btn-dark" id="clearCart") Clear Cart

  script(src="javascripts/customer.js")