html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(charset="utf-8")
    
    title= title

    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css")


    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")

    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")

    script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")



body
  block content

  nav(class="navbar navbar-lg navbar-dark bg-dark fixed-top" id="homeNav")
    div(class="container")
     a(class="navbar-brand" href="/") SV Bommern
    
      div(class="navbar-brand")
       a(href="http://www.fussball.de/verein/sv-bommern-05-westfalen/-/id/00ES8GN8N400001KVV0AG08LVUPGND5I#!/" class="fa fa-calendar fa-2x" title="fussball.de")
       a(href="https://www.facebook.com/SVBommern05/" class="fa fa-facebook fa-2x" title="facebook")
       a(href="https://www.instagram.com/svbommern05/" class="fa fa-instagram fa-2x" title="instagram")
       a(href="https://www.sv-bommern-05.de/" class="fa fa-soccer-ball-o fa-2x" title="Homepage")



  div(class="footer")
    div(class="pure-u-1-4 pure-u-md-1-4")
      a(class="footerLink" href="/")  Home 
    div(class="pure-u-1-4 pure-u-md-1-4")
      a(class="footerLink" href="legal.html") Legal 
    div(class="pure-u-1-4 pure-u-md-1-4")
      p © 2018 Cedric Mensah
   



       