extends layout

block content

  div(class="pure-g")
    div(class="pure-u-1-1 pure-u-md-1-1" style="margin-bottom: 20px; margin-top:65px" )
      div(style="text-align:center")
        a(type="button" class="btn btn-dark" href="/customer") Customer
    div(class="pure-u-1-1 pure-u-md-1-1" style="margin-bottom: 20px")
      div(style="text-align:center")
        a(type="button" class="btn btn-dark" href="/booking") Service
    
    




  
