extends layout

block content

    div(class="pure-u-1-1 pure-u-md-1-1" style="text-align:center; margin-top:65px")
        h1 Please confirm your purchase 
        a(class="btn btn-dark" style="margin-right: 20px; color: white" href="/confirmation") Confirm
