body {
  padding-top: 65px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.p-Custom {
  text-align: center;
}

.h1-Custom {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration-line: underline
}

.headline {
  font-size: 2vw;
  text-align: center
  
}

.contentBreak {
  min-height: 20px
}

.footer{
  width: 100%;
  color: #000;
  text-align: center;
  background: #fff;
  position: relative;
  margin-top: 100px;
  bottom: 0
}

.fa {
  color: #000;
  padding: 10px;
}

.headerText {
  color: #fff;
  opacity: 1;
  font-weight: 1000;
  font-size: 20px
  
}

#headBanner {
  background: #000;
  top: 300px;
  position: absolute;
  width: 100%;
  background: rgba(255,255,255,0)
}

#headerCarousel {
  padding-top: none !important;
  
}


.footerLink {
  color: #000
}

.form-group {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px
}

#formButton {
  margin-bottom: 30px;
  margin-left: 100px;

}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-dark {
  background-color: #fff !important;
}

.navbar-brand{
  color: #000 !important;
  font-weight: bold;
  margin: auto;
  text-align: left
}

.l-box {
  padding: 5px;
  margin: 5px;
  overflow: auto
}

#test {
  display: inline-block;
  width: 100vw
}


.pure-img {
margin-top: 20px;
}

figure {
  float: left;
  text-align: center;
}

figcaption {
  margin-top: 20px
}

th, td{
  margin-bottom: 10px;
  padding: 10px
}